<article class="media is-align-items-center">
  <div class="media-left">
    <figure class="image is-128x128">
    <%= image_tag user.photo %>
    </figure>
  </div>
  <div class="media-content notification">
    <div class="content">
      <h4 class="title is-4"><%= user.name %></h4>
      <p class="has-text-right is-size-7"><%= t('Posts_Counter', count: user.Posts_Counter)%></p>
    </div>
  </div>
</article>