<% @posts.each do |post| %>
  <%= render partial: "users/user", locals: { user: post.author} %>
   <%= render partial: "post", object: post %>
  <%= render partial: "shared/comment", collection: post.five_recent_comments %>
<% end %>
<button class="button is-small">Pagination</button>